<div [formGroup]="fg">
  <app-alert-dismiss [heading]="'record.edit.successfully' | translate" [class]="'alert-success'"
    *ngIf="success">
  </app-alert-dismiss>

  <div class="row">
      <div class="col-md-12 mb-3">
          <!--<app-input-number [fg]="fg"
              [id]="'value'"
              [label]="'record.edit.value.label' | translate"
              [placeholder]="'record.edit.value.placeholder' | translate"         
              [required]="true"                        
              [helpMessage]="'record.edit.value.help' | translate">
          </app-input-number>-->
          <label for="value">{{'record.edit.value.label' | translate}}</label>
            <input type="number" class="form-control md-form" formControlName="value" 
              [placeholder]="'record.edit.value.placeholder' | translate" 
              aria-describedby="valueHelp" required />
            <small id="valueHelp" class="form-text text-muted">
              {{'record.edit.value.help' | translate}}  
            </small>
            <div *ngIf="'fg.controls.value?.errors'" class="invalid-feedback">
              <div *ngIf="'fg.controls.value?.errors.required'">
                {{'mandatory' | translate}}
              </div>
            </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-3 mb-3">
          <label for="dt">Date</label>
          <div class="input-group">
              <input type="text" class="form-control" formControlName="dt" 
                  placeholder="yyyy-mm-dd" ngbDatepicker #d="ngbDatepicker" required />
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>              
              <div class="invalid-feedback" *ngIf="'fg.controls.dt?.errors'" >
                  <div *ngIf="'fg.controls.dt?.errors.required'">
                      {{'mandatory' | translate}}
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-3 mb-3">
          <label for="tm">Hour</label>
          <div class="input-group">
              <ngb-timepicker formControlName="tm" [seconds]="true" [spinners]="false" required></ngb-timepicker>
          </div>          
          <div class="invalid-feedback" *ngIf="'fg.controls.tm?.errors'">
              <div *ngIf="'fg.controls.tm?.errors.required'">
                {{'mandatory' | translate}}
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12 mb-3">
          <label for="notes">Notes</label>
          <textarea class="form-control" formControlName="notes" id="notes" placeholder="Notes" rows="5"></textarea>
      </div>
  </div>

  <app-spinner-button [class]="'btn btn-outline-primary mb-2'"
      [valueModel]="'btn.save' | translate"
      [spin]="submitted"
      [disabled]="!fg.valid"
      (eventEmmitter)="outputEvent()">
  </app-spinner-button>
</div>