<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3 mb-3">
      <h4 class="mb-4" i18n="@@history.component.title">List records</h4>
      <div *ngIf="records.length === 0; else listRecords">
        <span i18n="@@empty.results">No records found</span>
      </div>
      <ng-template #listRecords>
        <app-filter (searchEventEmitter)="searchEventEmitter($event)"></app-filter>
        <app-pagination [records]="records" [page]="page" [pageSize]="pageSize"></app-pagination>
        <table class="table table-striped table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col" i18n="@@history.component.table.header.idx">#</th>
              <th scope="col" i18n="@@history.component.table.header.date">Date</th>
              <th scope="col" i18n="@@history.component.table.header.glucose">Glucose</th>
              <th scope="col" i18n="@@history.component.table.header.notes">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let record of records | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize; index as idx;">
              <th scope="row">{{ idx }}</th>
              <td>{{ record._timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</td>
              <td>{{ record.value }}</td>
              <td>{{ record.notes }}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </div>
  </div>
</div>