<div [formGroup]="fg">
  <label [for]="id">{{label}}</label>
  <input type="number" class="form-control md-form" [id]="id" [formControlName]="id"
    [placeholder]="placeholder" [attr.aria-describedby]="id + 'Help'" [required]="required"
    app-numeric />
  <small id="valueHelp" class="form-text text-muted">
    {{helpMessage}}  
  </small>
  <div *ngIf="'_form.controls.' + id + '?.errors'" class="invalid-feedback">
    <div *ngIf="'_form.controls.' + id + '.errors.required'">
      {{'mandatory' | translate}}
    </div>
  </div>
</div>