<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3 mb-3">
      <h4 class="mb-4" i18n="@@record.component.title">Add record</h4>
      <form [formGroup]="recordForm" (ngSubmit)="onSubmit(recordForm.value)" novalidate class="needs-validation"
        [ngClass]="{'was-validated': submitted}">
        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="success">
          <h6 class="alert-heading" i18n="@@record.component.success">Record saved successfully</h6>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="value" i18n="@@record.component.form.value.label">Value</label>
            <input type="text" class="form-control md-form" formControlName="value" id="value"
              aria-describedby="valueHelp" i18n-placeholder="@@record.component.form.value.placeholder"
              placeholder="Glucose value" app-numeric required />
            <small id="valueHelp" class="form-text text-muted" i18n="@@record.component.form.value.help">
              For good control blood glucose values ​​should be within the range [70 - 120] mg/dl before breakfast and
              below 150 mg/dl
            </small>
            <div *ngIf="recordForm.controls.value.errors" class="invalid-feedback">
              <div *ngIf="recordForm.controls.value.errors.required" i18n="@@record.component.form.value.required">
                Mandatory field
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="_date" i18n="@@record.component.form._timestamp.label">Date</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="_date" id="_date"
                i18n-placeholder="@@record.component.form._timestamp.placeholder" placeholder="yyyy-mm-dd" ngbDatepicker
                #d="ngbDatepicker" required />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
              <div *ngIf="recordForm.controls._date.errors" class="invalid-feedback">
                <div *ngIf="recordForm.controls._date.errors.required"
                  i18n="@@record.component.form._timestamp.required">
                  Mandatory field
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="_time" i18n="@@record.component.form._time.label">Hour</label>
            <div class="input-group">
              <ngb-timepicker formControlName="_time" [seconds]="true" [spinners]="false" required></ngb-timepicker>
            </div>
            <div *ngIf="recordForm.controls._time.errors" class="invalid-feedback">
              <div *ngIf="recordForm.controls._time.errors.required" i18n="@@record.component.form._time.required">
                Mandatory field
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="notes" i18n="@@record.component.form.notes.label">Notes</label>
            <textarea class="form-control" formControlName="notes" id="notes"
              i18n-placeholder="@@record.component.form.notes.placeholder" placeholder="Notes" rows="5"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2" i18n="@@btn.save">Save</button>
      </form>
    </div>
  </div>
</div>