button.calendar, button.calendar:active {
    width: 2.75rem;    
    background-image: url('../../../../assets/images/calendar.png') !important;    
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
}

.was-validated .form-control:invalid {
    padding-right: 0 !important;
    background-image: none;
}

.was-validated .form-control:valid {
    padding-right: 0 !important;
    background-image: none;
    border-color: #ced4da;
}

.was-validated .form-control:invalid~.invalid-feedback {
    display: block !important;
}

/*form.ng-invalid .form-control.ng-invalid + app-error-info .invalid-feedback {
    display: block !important;
}*/