:host ::ng-deep input[type=text] {
  color: black;
  border: 0;
  background: 0;
  outline: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  width: 0;
}

:host ::ng-deep input[type=text]:hover {
  width: 240px;
  caret-color: #007bff;
  transition: width 0.4s linear;
  border-radius: 0;
  border-bottom: 1px solid #007bff;
}

:host ::ng-deep input[type=text]:focus:not([readonly]) {
  width: 240px;
  caret-color: #007bff;
  border-radius: 0;
  border-bottom: 1px solid #007bff;
  box-shadow: none;
}

.fa {
  color: #007bff;
  cursor: pointer;
}