<div class="row" *ngIf="records.length > pageSize">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12 card-title font-size-sm">            
                <app-toggle-link [url]="'#pagination-area'" 
                    [class]="'text-dark float-right'"
                    [ariaControlsAttr]="'pagination-area'"
                    [valueModel]="'pagination.title' | translate">
                </app-toggle-link>
            </div>
        </div>
        
        <div id="pagination-area" class="collapse">
            <div class="card card-body mb-3">

                <ngb-pagination class="d-flex justify-content-end" 
                    [collectionSize]="records.length" 
                    [(page)]="page"
                    [pageSize]="pageSize" 
                    [boundaryLinks]="true" 
                    aria-label="Default pagination"                     
                    (pageChange)="pageEventEmitter($event)">
                </ngb-pagination>
                
            </div>
        </div>

    </div>
</div>