/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    position: relative;
    min-height: 100%;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.font-size-gt {
    font-size: 16px;
}

.font-size-lr {
    font-size: 12px;
}

.container {
    max-width: 960px;
}

/* override boostrap form validation css */
/* workarround to remove form validation check from ngx-bootstrap Timepicker */
.was-validated .ngb-tp-input {
    padding-right: 10px !important;
    background-image: none !important;
    border-color: #ced4da !important;
}